header .superior p {
  font-size: 2rem;
  font-weight: bold;
  width: 50vw;
}
@media (min-width: 480px) {
  header .superior p {
    font-size: 3rem;
  }
}
header .last-name {
  position: relative;
  top: -25px;
}
header .capital {
  font-size: 3.5rem;
  position: relative;
  top: -2px;
  left: 1px;
  padding: 18px 3px 0px 3px;
  background-color: #fff;
  color: rgb(33, 37, 41);
  text-align: right;
}
@media (max-width: 480px) {
  header .capital {
    font-size: 2.5rem;
    border: none;
  }
}
header .contenedor-titulo {
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
header .contenedor-titulo:hover {
  -webkit-transform: perspective(150px) rotateX(45deg);
  transform: perspective(150px) rotateX(45deg);
}

footer {
  color: white;
  font-size: 0.7rem;
  padding: 40px;
  background-color: black;
}
footer .redes {
  font-size: 30px;
}
footer .redes a {
  color: #fff;
}

.titulo-seccion {
  background-color: rgb(128, 128, 128);
  color: #fff;
  padding: 30px;
}

a {
  color: rgb(80, 76, 76);
}

#acerca-de-prologo h3 {
  font-size: 2.5rem;
}
#acerca-de-prologo p {
  font-size: 1.2rem;
}

#esta-soy .row {
  margin-bottom: 50px;
  margin-top: 50px;
}
#esta-soy img {
  margin: 30px;
  max-height: 30vh;
  border-radius: 300px;
  box-shadow: -2px 5px 5px #888888;
}

#frases-inspiran {
  padding-top: 30px;
  padding-bottom: 30px;
}
#frases-inspiran .card {
  margin: 5px;
  text-align: center;
  min-height: 195px;
  padding: 10px;
}
@media (max-width: 768px) {
  #frases-inspiran .card {
    min-height: 100px;
  }
}

.articulos, .tesis, .sustentaciones {
  padding: 40px 100px 40px 100px;
}
@media (max-width: 480px) {
  .articulos, .tesis, .sustentaciones {
    padding: 10px;
  }
}
.articulos .card, .tesis .card, .sustentaciones .card {
  margin-top: 30px;
}
.articulos .card a, .tesis .card a, .sustentaciones .card a {
  color: rgb(80, 76, 76);
}
.articulos .card a:hover, .tesis .card a:hover, .sustentaciones .card a:hover {
  font-weight: bold;
}

#formulario {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #6c757d;
  color: #fff;
}
#formulario .form-floating {
  margin-top: 20px;
}
#formulario .input-group {
  margin-top: 20px;
}
#formulario .btn {
  margin-top: 10px;
  border: solid #fff;
}

#coinvestigadores .container {
  margin-top: 20px;
}
#coinvestigadores .col-12 .card {
  background-color: #b7bec4;
  border-radius: 15px;
  padding: 10px;
}
#coinvestigadores .col-12 .card .col-md-4 img {
  margin: 10px;
  border-radius: 180px;
  padding-right: 25px;
}
#coinvestigadores .carousel img {
  border-radius: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main #prologo button {
  border: solid white;
  color: white;
}
main #prologo .col {
  padding: 0px;
}
main #prologo #header-foto {
  margin: 0px;
  width: 100%;
  position: relative;
}
main #prologo #header-foto img {
  width: 100%;
  max-height: 70vh;
  object-fit: cover;
}
main #prologo #header-foto p, main #prologo #header-foto h3 {
  text-shadow: 2px 2px 5px #000000;
}
main #prologo #header-foto .overlay {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
main #prologo #header-foto .overlay .container, main #prologo #header-foto .overlay .row {
  height: 100%;
}
main #productos .row {
  padding: 20px;
  background-color: rgb(128, 128, 128);
}
main #productos .row .card {
  background-color: #b7bec4;
  margin: 20px;
}
main #productos .row .card .iconos-productos {
  margin-top: 30px;
  font-size: 60px;
  color: rgb(77, 76, 76);
}
main #intereses-img .container-fluid {
  padding: 0px;
}
main #intereses-img .container-fluid .row {
  margin: 0px;
}
main #intereses-img .container-fluid .row .col {
  padding: 0px;
}
main #intereses-img .container-fluid .row .col .carousel-item img {
  max-height: 100vh;
  object-fit: cover;
}
main #intereses-img .container-fluid .row .col h5, main #intereses-img .container-fluid .row .col p {
  text-shadow: 2px 2px 5px #000000;
}
main #intereses-img .container-fluid .row .col h5 {
  font-size: 2.5rem;
}
main #intereses-img .container-fluid .row .col p {
  font-size: 1.5rem;
}
main #enlaces-externos {
  padding: 50px;
}
main #enlaces-externos .btn a {
  color: #6c757d;
}
main #enlaces-externos .btn a:hover {
  color: rgb(239, 239, 234);
}

/*# sourceMappingURL=style.css.map */
