header .superior p {
  font-size: 2rem;
  font-weight: bold;
  width: 50vw;
}
@media (min-width: 480px) {
  header .superior p {
    font-size: 3rem;
  }
}
header .last-name {
  position: relative;
  top: -25px;
}
header .capital {
  font-size: 3.5rem;
  position: relative;
  top: -2px;
  left: 1px;
  padding: 18px 3px 0px 3px;
  background-color: #fff;
  color: rgb(33, 37, 41);
  text-align: right;
}
@media (max-width: 480px) {
  header .capital {
    font-size: 2.5rem;
    border: none;
  }
}

footer {
  color: white;
  font-size: 0.7rem;
  padding: 40px;
  background-color: black;
}
footer .redes {
  font-size: 30px;
}
footer .redes a {
  color: #fff;
}

.titulo-seccion {
  background-color: rgb(128, 128, 128);
  color: #fff;
  padding: 30px;
}

a {
  color: rgb(80, 76, 76);
}

#main {
  display: grid;
  grid-template-areas: "header header" "prologo prologo" "descripcion foto" "intereses intereses" "intereses-img intereses-img" "frases-inspiran frases-inspiran" "footer footer";
  grid-template-columns: auto 33%;
}
@media (max-width: 480px) {
  #main {
    grid-template-areas: "header" "prologo" "descripcion" "foto" "intereses" "intereses-img" "frases-inspiran" "footer";
    grid-template-columns: 100%;
  }
  #main #foto-emmy {
    min-width: 50vw;
  }
}
#main #acerda-de-header {
  grid-area: header;
}
#main #prologo {
  grid-area: prologo;
}
#main #prologo {
  grid-area: prologo;
}
#main #auto-descipcion {
  grid-area: descripcion;
  padding: 30px;
  text-align: justify;
}
#main #mi-foto {
  grid-area: foto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main #mi-foto #foto-emmy {
  margin: 30px;
  max-width: 30vw;
  border-radius: 50%;
  box-shadow: -2px 5px 5px #888888;
}
#main #mis-intereses {
  grid-area: intereses;
  padding: 30px;
  text-align: justify;
}
#main #intereses-img {
  grid-area: intereses-img;
}
#main #frases-inspiran {
  grid-area: frases-inspiran;
  padding-top: 30px;
  padding-bottom: 30px;
}
#main #frases-inspiran .card {
  margin: 5px;
  text-align: center;
  min-height: 195px;
  padding: 10px;
}
@media (max-width: 768px) {
  #main #frases-inspiran .card {
    min-height: 100px;
  }
}
#main #acerda-de-footer {
  grid-area: footer;
}

.articulos, .tesis, .sustentaciones {
  padding: 40px 100px 40px 100px;
}
@media (max-width: 480px) {
  .articulos, .tesis, .sustentaciones {
    padding: 10px;
  }
}
.articulos .card, .tesis .card, .sustentaciones .card {
  margin-top: 30px;
}
.articulos .card a, .tesis .card a, .sustentaciones .card a {
  color: rgb(80, 76, 76);
}
.articulos .card a:hover, .tesis .card a:hover, .sustentaciones .card a:hover {
  font-weight: bold;
}

#formulario {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #6c757d;
  color: #fff;
}
#formulario .form-floating {
  margin-top: 20px;
}
#formulario .input-group {
  margin-top: 20px;
}
#formulario .btn {
  margin-top: 10px;
  border: solid #fff;
}

#contenedor-formularios {
  display: flex;
  justify-content: center;
  color: white;
}
#contenedor-formularios h2, #contenedor-formularios p {
  text-shadow: 1px 1px 5px #000;
  width: 100%;
  text-align: center;
}
#contenedor-formularios #formulario-contacto {
  background-color: #6c757d;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  width: 60%;
  margin: 50px;
}
#contenedor-formularios #formulario-contacto #texto-mensaje {
  padding: 10px;
  flex: 1 2 80%;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 20px;
}
#contenedor-formularios #formulario-contacto label {
  font-size: 0.9rem;
  font-weight: 200;
}
#contenedor-formularios #formulario-contacto #identificacion {
  margin-bottom: 20px;
}
@media (min-width: 480px) {
  #contenedor-formularios #formulario-contacto #identificacion {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  #contenedor-formularios #formulario-contacto #identificacion #identificacion-nombre, #contenedor-formularios #formulario-contacto #identificacion #identificacion-apellido {
    flex: 1 1 30%;
    flex-wrap: wrap;
    display: flex;
    align-items: baseline;
  }
  #contenedor-formularios #formulario-contacto #identificacion #identificacion-nombre #nombres, #contenedor-formularios #formulario-contacto #identificacion #identificacion-nombre #apellido, #contenedor-formularios #formulario-contacto #identificacion #identificacion-apellido #nombres, #contenedor-formularios #formulario-contacto #identificacion #identificacion-apellido #apellido {
    flex: 1 1 70%;
  }
}
#contenedor-formularios #formulario-contacto #identificacion #identificacion-nombre #nombres, #contenedor-formularios #formulario-contacto #identificacion #identificacion-nombre #apellido, #contenedor-formularios #formulario-contacto #identificacion #identificacion-apellido #nombres, #contenedor-formularios #formulario-contacto #identificacion #identificacion-apellido #apellido {
  border-radius: 5px;
  width: 100%;
}
#contenedor-formularios #formulario-contacto input, #contenedor-formularios #formulario-contacto label, #contenedor-formularios #formulario-contacto button {
  height: 2rem;
}
#contenedor-formularios #formulario-contacto #email {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#contenedor-formularios #formulario-contacto #email #email-correo {
  flex: 1 1 30%;
  flex-wrap: wrap;
  display: flex;
  align-items: last baseline;
}
#contenedor-formularios #formulario-contacto #email #email-correo label {
  margin-bottom: 10px;
}
#contenedor-formularios #formulario-contacto #email #email-correo #correo {
  flex: 1 1 70%;
  border-radius: 5px;
  width: 100%;
}
#contenedor-formularios #formulario-contacto #email button {
  width: 100px;
  border: solid white;
  border-radius: 5px;
  border-width: 1px;
  background: none;
  font-weight: 200;
}
#contenedor-formularios #formulario-contacto #email button:hover {
  background-color: rgb(52, 51, 51);
  color: white;
}

#coinvestigadores .container {
  margin-top: 20px;
}
#coinvestigadores .col-12 .card {
  background-color: #b7bec4;
  border-radius: 15px;
  padding: 10px;
}
#coinvestigadores .col-12 .card .col-md-4 img {
  margin: 10px;
  border-radius: 180px;
  padding-right: 25px;
}
#coinvestigadores .carousel img {
  border-radius: 15px;
}

.main-404 .file404 {
  color: white;
  border-radius: 20px;
  padding: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgb(128, 128, 128);
}
.main-404 .file404 p {
  color: white;
}
.main-404 .file404 p:hover {
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main #prologo button {
  border: solid white;
  color: white;
}
main #prologo .col {
  padding: 0px;
}
main #prologo #header-foto {
  margin: 0px;
  width: 100%;
  position: relative;
}
main #prologo #header-foto img {
  width: 100%;
  max-height: 70vh;
  object-fit: cover;
}
main #prologo #header-foto h3 {
  font-size: 2.5rem;
  text-shadow: 2px 2px 5px #000000;
}
main #prologo #header-foto p {
  text-shadow: 2px 2px 5px #000000;
  font-size: 1.2rem;
}
main #prologo #header-foto .overlay {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
main #prologo #header-foto .overlay .container, main #prologo #header-foto .overlay .row {
  height: 100%;
}
main #productos .row {
  padding: 20px;
  background-color: rgb(128, 128, 128);
}
main #productos .row .card {
  background-color: #b7bec4;
  margin: 20px;
}
main #productos .row .card .iconos-productos {
  margin-top: 30px;
  font-size: 60px;
  color: rgb(77, 76, 76);
}
main #intereses-img .container-fluid {
  padding: 0px;
}
main #intereses-img .container-fluid .row {
  margin: 0px;
}
main #intereses-img .container-fluid .row .col {
  padding: 0px;
}
main #intereses-img .container-fluid .row .col .carousel-item img {
  max-height: 100vh;
  object-fit: cover;
}
main #intereses-img .container-fluid .row .col h5, main #intereses-img .container-fluid .row .col p {
  text-shadow: 2px 2px 5px #000000;
}
main #intereses-img .container-fluid .row .col h5 {
  font-size: 2.5rem;
}
main #intereses-img .container-fluid .row .col p {
  font-size: 1.5rem;
}
main #enlaces-externos {
  padding: 50px;
}
main #enlaces-externos .btn a {
  color: #6c757d;
}
main #enlaces-externos .btn a:hover {
  color: rgb(239, 239, 234);
}

/*# sourceMappingURL=style.css.map */
